.flex-control {
  display: flex;
  margin-bottom: 10px;
  & > span {
    margin-right: 10px;
  }
}

.flex-box {
  width: 80%;
  margin: auto;
  position: relative;
  // min-height: 30vh;
  padding: 100px;
  background-image: linear-gradient(
    90deg,
    rgb(247, 210, 90) 0%,
    rgb(250, 121, 85) 100%
  );
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: wrap;
  &_switch {
    position: absolute;
    color: red;
    right: 10px;
    top: 10px;
  }
  &_row {
    padding-bottom: 100px;
    height: 100vh;
    display: flex;
    // align-items: center;
    // justify-content: center;
  }
  &_col {
    $color: #c535bf;
    position: relative;
    z-index: 0;
    width: 120px;
    height: 100px;
    line-height: 80px;
    color: #0ebeff;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: #fff;
    transition: 0.3s;

    &:hover {
      color: #fff;
      box-shadow: 0 0 5px $color, 0 0 25px $color;

      &::after,
      &::before {
        transition: 0.3s;
        background: $color;
      }
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 300%;
      height: 300%;
      background-color: $color;
      background-repeat: no-repeat;
      background-size: 50% 50%;
      background-position: 0 0;
      background-image: conic-gradient(#00e266, #00e266);
      animation: rotate_contrary 1.5s linear infinite;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background: $color;
      border-radius: 10px;
    }
  }
  &_col:nth-of-type(odd) {
    height: 120px;
    &::before {
      animation: rotate 1.5s linear infinite;
    }
  }
  &_col:nth-of-type(3n) {
    height: 70px;
  }
}

.ON {
  -webkit-box-reflect: below 8px linear-gradient(transparent, rgb(255, 123, 0)) !important;
}

.OFF {
  -webkit-box-reflect: none;
  background-color: #C535BF;
  &::before,&::after {
    width: 0;
    height: 0;
    // animation: none !important;
  }
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes rotate_contrary {
  100% {
    transform: translate(-50%, -50%) rotate(-1turn);
  }
}
